html, body {
    height: 100%;
    margin: 0;
    font-family: 'Sorts Mill Goudy', serif;

}

.aba{
    color: black;
    background-color:  #64FA2F;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: .1rem solid black;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    top: 0;
    left: 0;
}


.falso-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.celular {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.titulo {
    font-size: 2rem;
    font-family: 'Signika', sans-serif;
    color: #7745FF;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
}
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 6rem;
}
  
.box { margin: 1rem; 
    flex-grow: 4;
    font-size: 2rem;
    text-decoration: none;
    height: 6rem;
    background-color: #33FDAD;
    border: .1rem solid black;
    border-radius: .5rem;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #3FEEFA;
}
